body{
    margin: 0;
    background: rgb(202, 148, 202);
    display: flex;
    justify-content: center;
    user-select: none;
    border: 1px solid green;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container{
    border: 1px solid yellow;
    position: relative;
    margin-top: 340px;
}

.bongo-btn {
    border: 3px solid white;
    background-color: transparent;
    padding: 5em;
    margin: 5px;
    border-radius: 20px;
}
.bongo-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    rotate: 12deg;
    z-index: 1;
    margin-left: -20px;
    border: 1px solid red;

}

.img-container{
    position: absolute;
    min-width: 502px;
    top: -165px;
    left: -70px;
    border: 1px solid blue;
    z-index: 2;
}
#imgR{
    position:absolute;
    top: 16px;
}

@media only screen and (max-width: 600px){
    img{
        width: 200px;
    }

    #imgR{
        top: 13px;
    }

    .img-container{
        left: -50px;
        top: -135px;
    }

    .bongo-btn{
        padding: 4em;
    }

}