@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,700&display=swap');

body{
    margin: 0;
    background: rgb(202, 148, 202);
    display: flex;
    justify-content: center;
    user-select: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 2em;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.container{
    position: relative;
    margin-top: 400px;
}

.bongo-btn {
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    padding: 2.5em;
    margin: 5px;
    border-radius: 20px;
    color:white;
}
.bongo-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    -moz-transform:rotate(12deg);
    -webkit-transform:rotate(12deg);
    -ms-transform:rotate(12deg);
    transform: rotate(12deg); 
    z-index: 3;
    margin-left: -40px;

}

.img-container{
    position: absolute;
    min-width: 502px;
    top: -165px;
    left: -50px;
    z-index: 3;
}

#bongo-img-container{
    position: absolute;
    top: -170px;
    left: -120px;
    -moz-transform:rotate(11deg);
    -webkit-transform:rotate(11deg);
    -ms-transform:rotate(11deg);
    transform: rotate(11deg); 
}

#imgBongo{
    width: 550px;
}

#imgR{
    position:absolute;
    top: 16px;
}

@media only screen and (max-width: 600px){
    img{
        width: 200px;
    }

    #imgR{
        top: 13px;
    }

    .img-container{
        left: -10px;
        top: -135px;
    }

    .bongo-btn{
        padding: 2em;
    }
    #bongo-img-container{
        top: -125px;
        left: -35px;
    }
    
    #imgBongo{
        width: 400px;
    }
    .bongo-container{
        margin-left: 10px;
    }

}